*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
target/
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
*.launch

# idea ignore
.idea/
*.ipr
*.iml
*.iws

#jrebel ignore
rebel.xml

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.springBeans

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# system ignore
.DS_Store
Thumbs.db